*{
    margin: 0;
    padding: 0;
}
.main_haeder{
    padding-left: 40PX;
    display: flex;
}
.main_haeder img{
    width: 120px;
    height: 30px;
    margin-top: 9px;
}
.main_haeder p{
    margin: 13px 10px 10px;
    margin-left: 20px;
    font-size: 14px;
}
.main_haeder2{
    margin-left: 500px;
    display: flex;
}
.main_haeder2 i{
    margin-top: 15px;
    margin-right: 10px;
}
.main_img img{
    margin-top: 10px;
    margin-left: 100px;
    width: 1800px;
    height: 600px;

}